name: CI
on: [push, pull_request, workflow_dispatch]
env:
  OPENLOCO_BUILD_SERVER: GitHub
  ASSETS_SSH_KEY: ${{ secrets.ASSETS_SSH_KEY }}
jobs:
  check-code-formatting:
    name: Check code formatting
    runs-on: ubuntu-latest
    container:
      image: openrct2/openrct2-build:17-format
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run clang-format
        run: scripts/check-code-formatting.sh
  check-changelog-formatting:
    name: Check changelog formatting
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run check-changelog-formatting
        run: scripts/check-changelog-formatting
  windows:
    name: Windows x64
    runs-on: windows-latest
    needs: check-code-formatting
    env:
      CONFIGURATION: Release
      POWERSHELL_TELEMETRY_OPTOUT: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Setup cache env vars
        run: |
          echo "VCPKG_DEFAULT_BINARY_CACHE=${{ github.workspace }}/vcpkg-cache" | Out-File -FilePath $env:GITHUB_ENV -Append
      - name: Setup cache directories
        run: mkdir ${{ env.VCPKG_DEFAULT_BINARY_CACHE }} | Out-Null
      - name: Set up binary cache
        uses: actions/cache@v4
        with:
          path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
          key: ${{ runner.os }}-64-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
          restore-keys: |
            ${{ runner.os }}-64-vcpkg-binary-cache-
      - name: Build OpenLoco
        shell: cmd
        run: |
          cmake --preset windows
          cmake --build --preset windows-release
      - name: Build release
        run: |
          mkdir artifacts | Out-Null
          Copy-Item CHANGELOG.md,CONTRIBUTORS.md,LICENSE artifacts
          Copy-Item build\windows\Release\* artifacts -Recurse
      - name: Upload release artifact
        uses: actions/upload-artifact@v4
        with:
          name: OpenLoco-${{ runner.os }}-x64
          path: |
            artifacts/
            !artifacts/*.pdb
          if-no-files-found: error
      - name: Upload symbols artifact
        uses: actions/upload-artifact@v4
        with:
          name: OpenLoco-${{ runner.os }}-x64-symbols
          path: |
            artifacts/*.pdb
          if-no-files-found: warn
      - name: Checkout Assets
        if: ${{ github.repository == 'OpenLoco/OpenLoco' && env.ASSETS_SSH_KEY != null }}
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ env.ASSETS_SSH_KEY }}
          repository: OpenLoco/LocomotionAssets
          ref: gog
          path: LocomotionAssets
      - name: Checkout Test Data
        if: ${{ github.repository == 'OpenLoco/OpenLoco' && env.ASSETS_SSH_KEY != null }}
        uses: actions/checkout@v4
        with:
          repository: OpenLoco/TestData
          ref: 0ec6815ec32e92d650c2ca14fbd8599dba6883eb
          path: TestData
      - name: Run Simulate Test
        if: ${{ github.repository == 'OpenLoco/OpenLoco' && env.ASSETS_SSH_KEY != null }}
        shell: bash
        run: |
          set -e
          ./build/windows/Release/OpenLoco.exe --locomotion_path "./LocomotionAssets" simulate "./TestData/Saves/MMTest.SV5" 100000 -o "result.sv5"
          ./build/windows/Release/OpenLoco.exe --locomotion_path "./LocomotionAssets" compare "./TestData/Saves/MMTest100000_base.SV5" "result.sv5"
      - name: Run Tests
        shell: cmd
        run: |
          ctest --test-dir build\windows\ --output-on-failure
  windows32:
    name: Windows Win32
    runs-on: windows-latest
    needs: check-code-formatting
    env:
      CONFIGURATION: Release
      POWERSHELL_TELEMETRY_OPTOUT: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Setup cache env vars
        run: |
          echo "VCPKG_DEFAULT_BINARY_CACHE=${{ github.workspace }}/vcpkg-cache" | Out-File -FilePath $env:GITHUB_ENV -Append
      - name: Setup cache directories
        run: mkdir ${{ env.VCPKG_DEFAULT_BINARY_CACHE }} | Out-Null
      - name: Set up binary cache
        uses: actions/cache@v4
        with:
          path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
          key: ${{ runner.os }}-32-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
          restore-keys: |
            ${{ runner.os }}-32-vcpkg-binary-cache-
      - name: Build OpenLoco
        shell: cmd
        run: |
          cmake --preset windows-x86-32-ci
          cmake --build --preset windows-x86-32-ci
      - name: Build release
        run: |
          mkdir artifacts | Out-Null
          Copy-Item CHANGELOG.md,CONTRIBUTORS.md,LICENSE artifacts
          Copy-Item build\windows-x86-32-ci\Release\* artifacts -Recurse
      - name: Upload release artifact
        uses: actions/upload-artifact@v4
        with:
          name: OpenLoco-${{ runner.os }}-Win32
          path: |
            artifacts/
            !artifacts/*.pdb
          if-no-files-found: error
      - name: Upload symbols artifact
        uses: actions/upload-artifact@v4
        with:
          name: OpenLoco-${{ runner.os }}-Win32-symbols
          path: |
            artifacts/*.pdb
          if-no-files-found: warn
      - name: Run Tests
        shell: cmd
        run: |
          ctest --test-dir build\windows-x86-32-ci\ --output-on-failure

  ubuntu32:
    name: Ubuntu ${{ matrix.distro }} ${{ matrix.compiler }} i686
    runs-on: ubuntu-latest
    needs: check-code-formatting
    container: ghcr.io/openloco/openloco:10-${{ matrix.distro }}32
    strategy:
      fail-fast: false
      matrix:
        compiler: [g++, clang++]
        distro: [jammy, noble]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Install GCC problem matcher
        uses: ammaraskar/gcc-problem-matcher@master
      - name: Build OpenLoco
        run: |
          cmake --preset linux-x86-32-ci -DCMAKE_CXX_COMPILER=${{ matrix.compiler }}
          cmake --build --preset linux-x86-32-ci
      - name: Run Tests
        run: |
          ctest --test-dir build/linux-x86-32-ci/ --output-on-failure
  ubuntu:
    name: Ubuntu ${{ matrix.distro }} ${{ matrix.compiler }} x64
    runs-on: ubuntu-latest
    needs: check-code-formatting
    container: ghcr.io/openloco/openloco:10-${{ matrix.distro }}
    strategy:
      fail-fast: false
      matrix:
        compiler: [g++, clang++]
        distro: [jammy, noble]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Install GCC problem matcher
        uses: ammaraskar/gcc-problem-matcher@master
      - name: Build OpenLoco
        run: |
          cmake --preset posix -DCMAKE_CXX_COMPILER=${{ matrix.compiler }}
          cmake --build --preset posix-release
      - name: Run Tests
        run: |
          ctest --test-dir build/posix/ --output-on-failure

  header-checks:
    name: Header checks ${{ matrix.distro }} ${{ matrix.compiler }}
    runs-on: ubuntu-latest
    needs: check-code-formatting
    container: ghcr.io/openloco/openloco:10-${{ matrix.distro }}
    strategy:
      fail-fast: false
      matrix:
        compiler: [clang++]
        distro: [noble]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Validate Headers
        run: |
          cmake --preset posix -DCMAKE_CXX_COMPILER=${{ matrix.compiler }} -DOPENLOCO_HEADER_CHECK=ON
          cmake --build --preset posix-release --target all-headers-check

  fedora:
    name: Fedora shared=${{ matrix.build_shared_libs }} i686 MinGW32
    runs-on: ubuntu-latest
    needs: check-code-formatting
    container: ghcr.io/openloco/openloco:10-mingw32
    strategy:
      fail-fast: false
      matrix:
        build_shared_libs: [on, off]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Install GCC problem matcher
        uses: ammaraskar/gcc-problem-matcher@master
      - name: Build OpenLoco
        run: |
          cmake --preset mingw32 -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs }}
          cmake --build --preset mingw32

  linux-static:
    name: Ubuntu noble g++ x64 vcpkg static linkage
    runs-on: ubuntu-latest
    needs: check-code-formatting
    container: ghcr.io/openloco/openloco:10-noblevcpkg
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Install GCC problem matcher
        uses: ammaraskar/gcc-problem-matcher@master
      - name: Workaround git permissions issue
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Setup cache env vars
        run: |
          echo "VCPKG_DEFAULT_BINARY_CACHE=/w/OpenLoco/OpenLoco/vcpkg-cache" >> "$GITHUB_ENV"
      - name: Setup cache directories
        run: mkdir -p ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
      - name: Set up binary cache
        uses: actions/cache@v4
        with:
          path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
          key: ${{ runner.os }}-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
          restore-keys: |
            ${{ runner.os }}-vcpkg-binary-cache-
          # Cache currently broken as docker image does not include unzip
      - name: Build OpenLoco
        run: |
          cmake --preset linux-vcpkg-static
          cmake --build --preset linux-vcpkg-static
      # Static linkage means the binary should be fairly portable / distributable across distros!
      - name: Install to artifacts
        run: |
          mkdir -p artifacts
          cmake --install build/linux-vcpkg-static --prefix ./artifacts
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: OpenLoco-linux-x64-glibc2.39
          path: artifacts
          if-no-files-found: error
  macos:
    name: macOS Sequoia ARM64 vcpkg
    runs-on: macos-15
    needs: check-code-formatting
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Workaround git permissions issue
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Setup cache env var
        run: |
          echo "VCPKG_DEFAULT_BINARY_CACHE=$GITHUB_WORKSPACE/vcpkg-cache" >> "$GITHUB_ENV"
      - name: Setup cache directories
        run: mkdir -p ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
      - name: Set up binary cache
        uses: actions/cache@v4
        with:
          path: ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}
          key: ${{ runner.os }}-vcpkg-binary-cache-${{ hashFiles('vcpkg*.json') }}
          restore-keys: |
            ${{ runner.os }}-vcpkg-binary-cache-
      - name: Build OpenLoco
        run: |
          cmake --preset macos-vcpkg-static
          cmake --build --preset macos-vcpkg-static
      - name: Install to artifacts
        run: |
          mkdir -p artifacts
          cmake --install build/macos-vcpkg-static --prefix ./artifacts
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: OpenLoco-macos-arm64
          path: artifacts
          if-no-files-found: error
